body {
  font-family: "Poppins", sans-serif;
  color: #4e4d55;
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  color: #f76b8a;
  margin-left: 0;
  margin-top: 20px;
}
h5 {
  font-size: 11px;
}
section {
  margin: 20px 7px 7px 7px;
}
.app {
  border: 3px solid #66bfbf;
  margin: 30px;
  padding: 40px;
}
.degrees {
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: -52px;
}
.type-degrees {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: -25px;
  text-decoration: none;
  color: #4e4d55;
}
.type-degrees:hover {
  color: #f76b8a;
}
.type-degrees:focus {
  color: #f76b8a;
}
.type-degrees:active {
  color: #f76b8a;
}
.type-degrees:target {
  color: #f76b8a;
}
.search-form {
  display: inline;
}
.selected {
  font-size: 30px;
  color: #f76b8a;
}
.separator {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: -21px;
}
.search-button {
  background-color: #66bfbf;
  border-radius: 4px;
  transition: all 150ms ease;
  color: #fff;
  padding: 6px 9px;
  border: 1px solid #66bfbf;
}
.search-button:hover {
  background-color: #66bfbf;
  border-color: #f76b8a;
}

.form-control {
  display: inline;
  width: 80%;
  margin: 0;
}
.form-control:focus {
  border-color: #66bfbf;
}

.date-and-time {
  font-weight: 350;
  font-size: 20px;
}
.weather-icon {
  font-size: 100px;
  color: #f76b8a;
}

.day-one,
.day-two,
.day-three,
.day-four,
.day-five,
.day-six {
  padding: 0;
  margin: 0;
  font-size: 11px;
  text-align: center;
}
.search-bar {
  margin: 0 0 0 5px;
  padding: 0;
}
.weather {
  font-size: 20px;
}
.weather::first-letter {
  text-transform: capitalize;
}
.wind,
.humidity {
  font-size: 12px;
}
.weather-icons {
  font-size: 30px;
  color: #eaf6f6;
}
.card-body {
  padding: 20px 7px;
}
.card-title {
  padding: 10px 0;
  font-weight: 600;
}
.card-text {
  padding: 15px 0 0 0;
}
.card {
  border: none;
  border-radius: 0%;
  background-color: #66bfbf;
}
.footer {
  margin: 0 0 20px 0;
}
